[Unit]
Description=DATA Track RTC Service with Health Checks
After=network.target
Wants=network.target
Requires=network-online.target

[Service]
Type=simple
User=root
# Group=video
WorkingDirectory=/home/pi/data_track
ExecStart=/home/pi/data_track/data_track_rtc.sh
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=data-track-rtc

[Install]
WantedBy=multi-user.target